/* line 5, ../scss/food_selection.scss */
.plate {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -275px;
  /* Half the height */
  margin-left: -195px;
  /* Half the width */
}

/* line 15, ../scss/food_selection.scss */
.round-icon {
  display: table;
  height: 80px;
  margin: 15px auto 1rem;
  width: 160px;
  font-size: 35px;
  color: #F5A623;
  font-weight: bold;
  text-shadow: 1px 1px #AAAAAA;
}
/* line 24, ../scss/food_selection.scss */
.round-icon .food-item {
  display: table-cell;
  text-align: center;
  vertical-align: left;
}

/* line 31, ../scss/food_selection.scss */
html {
  overflow: hidden;
}

/* line 35, ../scss/food_selection.scss */
body {
  font-family: 'Droid Serif', Verdana, Geneva, serif;
  background-image: url(../img/wood.jpg);
  color: snow;
}

/* line 41, ../scss/food_selection.scss */
h1, h3 {
  color: snow;
  font-family: 'Droid Serif', Verdana, Geneva, serif;
  text-align: center;
}

/* line 46, ../scss/food_selection.scss */
.centerpb {
  height: 45px;
  background-size: 225px 75px;
  background-repeat: no-repeat;
  border-right-style: solid;
  border-left-style: solid;
  border-color: dimgray;
}

/* line 55, ../scss/food_selection.scss */
.rightpb {
  height: 45px;
  background-size: 225px 75px;
  background-repeat: no-repeat;
  border-left-style: solid;
  border-color: dimgray;
}

/* line 63, ../scss/food_selection.scss */
.rus {
  background-image: url(../img/RIGHT.png);
}

/* line 66, ../scss/food_selection.scss */
.rs {
  background-image: url(../img/RIGHTselected.png);
}

/* line 69, ../scss/food_selection.scss */
.rg {
  background-image: url(../img/RIGHTgray.png);
}

/* line 72, ../scss/food_selection.scss */
.lus {
  background-image: url(../img/LEFT.png);
}

/* line 75, ../scss/food_selection.scss */
.ls {
  background-image: url(../img/LEFTselected.png);
}

/* line 78, ../scss/food_selection.scss */
.mus {
  background-image: url(../img/MIDDLE.png);
}

/* line 81, ../scss/food_selection.scss */
.ms {
  background-image: url(../img/MIDDLEselected.png);
}

/* line 84, ../scss/food_selection.scss */
.mg {
  background-image: url(../img/MIDDLEgray.png);
}

/* line 87, ../scss/food_selection.scss */
#footer {
  position: fixed;
  bottom: 25px;
  line-height: 50px;
  text-align: center;
  width: 100%;
}

/* line 94, ../scss/food_selection.scss */
#buttondiv {
  position: fixed;
  bottom: 100px;
  line-height: 50px;
  text-align: center;
  width: 100%;
}

/* line 101, ../scss/food_selection.scss */
.button {
  background-color: #7AA8DD;
}

/* line 104, ../scss/food_selection.scss */
.button:hover {
  background-color: #488DDE;
}
